/*sections*/

.title-container {
	background-color: black;
	height: 100vh;
	position: relative;
}

.description-section {
	background-color: white;
	height: 70vh;
}

.intro-prototype-section {
	height: 25vh;
	background-color: black;
	width: 100%;
}

.prototype-section {
	height: 70vh;
	background-image: url(../Images/prototype.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 50%;
}

.v1-section {
	height: 80vh;
	background-image: url(../Images/rari-1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 70%;
	background-color: black;
}

.intro-v1-section {
	height: 25vh;
	background-color: #B2001C;
}

.conclusion-section {
	min-height: 70vh;
}

.stay-in-touch {
	position: relative;
	background-color: #1A1E22;
	height: 60vh;
}

/*sub components of sections*/

.heading {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 45vh;
	padding-left: 2vw;
	font-size: 300px;
	color: white;
	letter-spacing: 10px;
}

.underline {
	text-decoration: underline;
	text-decoration-color: red;
}

.heading-subtitle {
	margin-top: 0px;
}

.description-3 {
	margin-top: 0px;
	color: white;
	text-align: center;
	padding-top: 75px;
	font-size: 40px;
}

.description-title {
	font-size: 10vh;
	margin: 0;
}

.description-container {
	padding-top: 23vh;
	margin: 0px auto;
	display: block;
	text-align: center;
	max-width: 800px;
}

.description-font {
	font-family: 'Lora';
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	margin: 0px;
}


.black-font {
	color: black;
	font-size: 50px;
	margin-top: 17vh;
}

.white {
	color: white;
	left: 2vw;
	position: absolute;
	bottom: 5vh;
	letter-spacing: 1px;
	font-size: 20px;
}

.title-font {
	font-family: 'Oleo Script';
	font-style: normal;
	font-weight: normal;
}

.customized-title {
	text-align: center;
}

.customized-container {
	margin: 0px auto;
	max-width: 1000px;
}

.customized-obj {
	padding-bottom: 50px;
	position: relative;
}

.customized-description {
	padding-top: 5%;
	font-size: 30px;
	padding-left: 10%;
	text-align: center;
}

.customized-img {
	width: 100%;
	max-width: 400px;
	margin: 0px auto;
	display: block;
}

.stay-font {
	color: white;
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding-left: 5%;
	padding-right: 5%;
}

.body-padding {
	margin: 0px;
}

.git {
	padding-top: 50px;
	display: block;
	margin: 0px auto;
	width: 100px;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 50px;
	background-color: black;
	width: 100%;
}

.footer-text {
	display: block;
	margin: 0px auto;
	text-align: center;
	color: white;
	font-size: 20px;
}

a {
	text-decoration: none;
}


@media only screen and (max-width: 750px) {
	.heading {
  		font-size: 200px;
  		letter-spacing: 2px;
  		padding-top: 55vh;
	}
	.prototype-section {
		background-size: 70%;
	}
	.v1-section {
		background-size: 90%;
	}
	.customized-description {
		display: block;
	}
}

@media only screen and (max-width: 511px) {
	.heading {
  		font-size: 100px;
	}
	.description-3 {
		font-size: 30px;
		padding-top: 9vh;
	}
	.prototype-section {
		background-size: 90%;
		height: 50vh;
	}
	.v1-section {
		background-size: 110%;
		height: 50vh;
	}
	.heading-subtitle {
		display: none;
	}
	.title-container {
		max-height: 700px
	}
	.secondary-container {
		max-height: 700px;
	}
	.customized-description {
		padding-top: 0px;
		padding-left: 0px;
	}
}